---
layout: default
title: Events
description: Middlebury will host many events this academic year—symposia, panels, individual speakers, performances, exhibitions, and more—designed to spur discussion and debate across our campus on critical issues.
image: middlebury-college-events.png
image_alt: Events illustration
image_gray: true
---

<section>
	<div class="fullwidth bg-fill">
		<div class="inner main-body">

			{% for event in site.data.events %}
				{% include event.html event=event %}
			{% endfor %}

		</div>
	</div>
</section>
