---
layout: default
title: Events
description: Middlebury will host many events this academic year—symposia, panels, individual speakers, performances, exhibitions, and more—designed to spur discussion and debate across our campus on critical issues.
image: middlebury-college-events.png
image_alt: Events illustration
image_gray: true
---

<br>
<section>
	<span class="section-hed">Ongoing series</span>
	<div class="border center"></div>
	<div class="fullwidth bg-fill">
		<div class="inner main-body">

			{% for event in site.data.series_events %}
				{% include event.html event=event %}
			{% endfor %}

		</div>
	</div>
</section>

<section>
	<span class="section-hed">Upcoming Events</span>
	<div class="border center"></div>
	<div class="fullwidth bg-fill">
		<div class="inner main-body">

			{% for event in site.data.events %}
				{% include event.html event=event %}
			{% endfor %}

		</div>
	</div>
</section>

<section>
	<span class="section-hed">Past events</span>
	<div class="border center"></div>
	<div class="fullwidth bg-fill">
		<div class="inner main-body">
			{% for event in site.data.past_events %}
				{% include event.html event=event %}
			{% endfor %}
		</div>
	</div>
</section>