---
layout: default
title: Partnerships
description: Middlebury is pleased to be working with a number of organizations and individuals this year to ensure that Critical Conversations provides a rich and vibrant array of viewpoints.
image: middlebury-college-partnerships.png
image_alt: Partnerships illustration
image_gray: true
---
<br>
<section>
	<span class="section-hed">Featured Partners</span>
	<div class="border center">
	</div>
	<div class="fullwidth">
		<div class="inner">
			<div class="row-wrapper" role="row">
        {% for item in site.data.partners %}
          <div class="col-3-1 no-shadow">
						<div class="col-wrapper">
							<!-- <img class="logo" src="{{site.baseurl}}/images/{{item.image}}" alt="{{item.image_alt}}"> -->
							<p><span class="name-title">{{item.title}}</span><br>
							{{item.subtitle}}</p>
              <p>{{item.text}}</p>
              {% if item.url %}
              <p class="source"><a href="{{item.url}}">{{item.url_text}}</a></p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
			</div>
		</div>
	</div>
</section>
