---
layout: default
title: Resources
description: In recent years, much has been written about the importance of fostering greater access to the public square and of freedom of speech and inquiry as a foundational educational principle. This collection of resources will be curated on an ongoing basis.
image: middlebury-college-resources.png
image_alt: resources illustration
image_gray: true
---

<br>

{% for section in site.data.resources %}

	<section>
		<span class="section-hed">{{section.title}}</span>
		<div class="border center"></div>
		<div class="fullwidth bg-fill">
			<div class="inner">
				{% if section.sections %}

					{% for subsection in section.sections %}

						<h5 class="text-center">{{subsection.title}}</h5>


						{% for item in subsection.items %}
							{% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

							{% if modulo == '0' or forloop.first %}
								<div class="row-wrapper">
							{% endif %}

							<div class="col-3-1 div-link">
								<a href="{{item.link}}">
									<div class="col-wrapper">
										<h4>{{item.title}}</h4>
										<p>{{item.text}}</p>
										<p class="source">{{item.source}}</p>
									</div>
								</a>
							</div>

							{% if modulo == '2' or forloop.last %}
								</div>
							{% endif %}

						{% endfor %}

					{% endfor %}

				{% elsif section.items %}

					<div class="row-wrapper" role="row">
						{% for item in section.items %}

							<div class="col-3-1 div-link">
								<a href="{{item.link}}">
									<div class="col-wrapper">
										<h4>{{item.title}}</h4>
										<p>{{item.text}}</p>
										<p class="source">{{item.source}}</p>
									</div>
								</a>
							</div>

						{% endfor %}
					</div>

				{% endif %}

			</div>
		</div>
	</section>

{% endfor %}