<div class="col-1">
  <div class="event-wrapper col-wrapper">
    <h3>{{include.event.title}}</h3>
    <div class="event-info">
      <p>
      <b>{{include.event.date}} | {{include.event.time}}</b> <br/>
      {{include.event.location}} | {% if include.event.map_link %}<a href="{{include.event.map_link}}">Map</a>{% endif %} <br/>
      {% if include.event.public %}Open to the Public{% endif %}
      </p>
      {{include.event.text | markdownify}}
      <p>
      {% if include.event.speakers %}
        <b>Speakers:</b>
        {% for speaker in include.event.speakers %}
          {{speaker.name}}, {{speaker.title}}
        {% endfor %}
      {% endif %}
      </p>
    </div>
  </div>
</div>