<div class="col-1">
  <div class="event-wrapper col-wrapper">
    <h3>Representing trauma: from Testimony to (Post)memory in my own artistic practice</h3>
    <div class="event-info">
      <p>
      <b>Wednesday, October 4 | 4:30 PM</b> <br/>
      The Orchard (Room 103), The Franklin Environmental Center at Hillcrest | <a href="http://map.middlebury.edu/map/?id=229&mrkIid=61407">Map</a> <br/>
      Open to the Public
      </p>
      <p>
      Part of the Carol Rifelj Faculty Lecture Series
      </p>
      <p>
      <b>Speaker:</b> David Miranda-Hardy, Department of Film and Media Culture
      </p>
    </div>
  </div>
</div>