<div class="col-1">
  <div class="event-wrapper col-wrapper">
    <h3 id="{{include.event.title | slugify}}">{{include.event.title}}</h3>
    <div class="event-info">
      <p>
      <b>{{include.event.date}}{% if include.event.time %} | {{include.event.time}}{% endif %}</b>
      {% if include.event.location %}
      <br/>
      {% endif %}
      {{include.event.location}}{% if include.event.map_link %} | <a href="{{include.event.map_link}}">Map</a>{% endif %} <br/>
      {% if include.event.public %}Open to the Public{% endif %}
      {% if include.event.public_text %}{{include.event.public_text}}{% endif %}
      </p>
      {{include.event.text | markdownify}}
      <p>
      {% if include.event.speakers %}
        {% assign speaker_count = include.event.speakers | size %}
        {% if speaker_count > 1 %}
          <b>Speakers:</b>
        {% else %}
          <b>Speaker:</b>
        {% endif %}
        {% for speaker in include.event.speakers %}
          {% if forloop.last and speaker_count > 1 %} and {% endif %}{{speaker.name}}{%if speaker.title %}, {{speaker.title}}{% endif %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
      </p>
    </div>
  </div>
</div>
