<footer class="site-footer" role="contentinfo">
  <div class="container">

    <div class="row">

      <div class="footer-brand">
        <div class="footer-logo">
          <a href="http://www.middlebury.edu">
            <img class="logo" src="{{site.baseurl}}/images/mdl_master_left_white.png" alt="middlebury logo">
          </a>
        </div>
        <div class="footer-title">
          <h1 class="site-title">
            <span><a href="{[site.baseurl}}/">Critical&nbsp; &nbsp;Conversations&nbsp;</a></span>
          </h1>
          <p class="site-tagline">{{site.tagline}}</p>
        </div>
      </div>

      <div class="footer-nav">
        <ul class="main-menu">
          {% for item in site.data.nav %}
            <li class="menu-item"><a href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
        <ul class="secondary-menu">
          <li class=""><a href="#">Contact Us</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <section class="fineprint">
        <p>&copy;{{site.time | date: '%Y'}} copyright TBD - speak to Hannah about Creative Commons</p>
      </section>
    </div>
  </div>
</footer>
